<h2>Employee list</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Profession</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let employee of employees">
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.profession }}</td>
    </tr>
<!--  <tr>-->
<!--    <td>{{ employees | json }}</td>-->
<!--  </tr>-->
  </tbody>
</table>
