.main-header {
  position: fixed;
  margin: 0px auto 20px;
  padding: 20px;
}

.footer {
  position: absolute;
  top: 800px;
  width: 100%;
  height: 50px;
  background-color: #ffc107;
  text-align: center;
}
